<% if (theme.valine_modify.enable ){ %>
    <!-- Valine Comments -->
    <div class="comments vcomment" id="comments"></div>
    <script src="//cdn1.lncld.net/static/js/3.0.4/av-min.js"></script>
    <script src="/js/Valine.min.js"></script>
    <!-- Valine Comments script -->
    <script>
        new Valine({
                av: AV,
                el: '#comments',
                smiles_url: '<%= theme.valine_modify.smiles_url %>',
                app_id: '<%= theme.valine_modify.app_id %>',
                app_key: '<%= theme.valine_modify.app_key %>',
                placeholder: '<%= theme.valine_modify.placeholder %>',
            });
    </script>
    <!-- Valine Comments end -->
<% } %>